/* Add '[pdf]' next to links to PDF files */
a[href$='.pdf']:after {
    font-size: smaller;
    content: ' [pdf]';
}

/*  Dark status tooltip */
#statuspanel-label {
    background-color: black !important;
    color: white !important;
}

/* Remove window control buttons */
.titlebar-buttonbox-container {
    display: none;
}

#window-controls {
    display: none;
}

/* Dark preloading pages */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
    background: #191A21 !important;
    background-color: #191A21 !important;
    color: #191A21 !important;
}

/* Remove spacer at the end of tabs bar */
.titlebar-spacer {
    display: none;
}

/* New Tab Page file */
toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}
