/*  */

#navigator-toolbox {
    display: flex;
}

#navigator-toolbox::after {
    height: 0;
    display: none;
}

#nav-bar {
    width: auto;
    height: 33px;
    display: flex;
    align-items: center;
    flex: 1 0 600px;
    max-width: 1000px;
    padding-left: 75px;
    position: static !important;
}

#PanelUI-button {
    position: absolute;
    right: 0;
}

hbox.titlebar-buttonbox-container:nth-child(4) {
    position: absolute;
    left: 0;
}

#titlebar {
    height: 33px !important;
    width: auto;
    order: 2;
}

#TabsToolbar hbox.titlebar-spacer {
    display: none;
}

#tabbrowser-tabs .tabbrowser-tab {
    width: auto !important;
}

#alltabs-button {
    display: none;
}
#toolbar-menubar {
    height: 0 !important;
    display: none;
}

:root:not([uidensity='compact']) #back-button > .toolbarbutton-icon {
    height: 28px !important;
    border: none !important;
    background: transparent !important;
    border-radius: 0 !important;
}

:root:not([uidensity='compact']) #back-button:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

#back-button {
    border-radius: 0 !important;
}

#identity-icon {
    display: none;
}

#nav-bar-customization-target,
#urlbar-container,
#urlbar,
#identity-box,
#page-action-buttons {
    height: 33px;
    display: flex;
    flex: 1;
    align-items: center;
}

#identity-box,
#page-action-buttons {
    flex: 0 1 auto;
}

#identity-box {
    padding: 0;
}

#urlbar .urlbar-input-box {
    flex: 1;
    outline: none !important;
}

#urlbar .urlbar-input {
    display: flex;
}

#urlbar .urlbar-input.textbox-input {
    width: 100%;
}

#urlbar:hover {
    background: rgba(0, 0, 0, 0.1) !important;
}

#urlbar:not(.hidden-focus)[focused='true'],
.searchbar-textbox[focused='true'] {
    box-shadow: none !important;
}

#urlbar {
    background: transparent !important;
    border: none !important;
}

#reload-button {
    margin-top: 4px !important;
}

/* white flash fix */

@-moz-document url-prefix(about:blank) {
    html > body:empty {
        background-color: #2a2a2e !important;
    }
}

/* Hide buttons */
:root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -30px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    margin-left: 0 !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* Don't hide tab buttons */
:root:not([customizing]) :hover > #titlebar #TabsToolbar toolbarbutton {
    margin-left: 0px !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* Hide controls on urlbar focus */
:root:not([customizing])
    #navigator-toolbox
    #nav-bar
    #urlbar-container:focus-within {
    width: 100% !important;
    position: absolute !important;
    left: 0 !important;
    white-space: nowrap;
}

:root:not([customizing])
    #navigator-toolbox
    #nav-bar
    #urlbar-container:focus-within
    #urlbar {
    width: 100% !important;
}
