/* Toolbars styling */

#back-button[disabled='true'] {
    opacity: 0.35 !important;
}

#forward-button[disabled='true'] {
    opacity: 0.35 !important;
}

#stop-button[disabled='true'] {
    opacity: 0.35 !important;
}

#home-button {
    display: none;
}

#throbber-box {
    display: none !important;
}

#pageActionButton {
    display: none !important;
}

#appMenu-fxa-container, #appMenu-fxa-container + toolbarseparator {
    display: none !important;
}

/* Fixes a 1px bug after using the global menu */
#toolbar-menubar {
    padding: 0 !important;
}
