/* Fix unreadable input fields (or you can just use fix provided by user.js) */
input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']):not([type='radio']),
textarea,
select {
    -moz-appearance: none !important;
    background-color: #bebebe;
    color: #191a21;
}

#downloads-indicator-counter {
    color: green;
}
