/* TabCenter Redux */
/* Change styling of unread tabs */
.tab[notselectedsinceload='true'] {
    font-style: italic;
}

/* Reduce the dimming of unloaded/discarded tabs */
.tab.discarded .tab-title {
    opacity: 0.65; /* default is 0.5 */
}
.tab.discarded .tab-meta-image {
    opacity: 0.6; /* default is 0.45 */
}

/* Use reversed tab order */
/*
 # *tablist {
 flex-direction: column-reverse;
 display: flex;
 flex: 0 0 auto;
 }
 .tab.pinned {
 order: 1;
 }
 */

/* Reduce height of tabs in compact mode */
#tablist-wrapper.shrinked .tab:not(.pinned) {
    height: 29px !important;
}

/* Add white outline around favicons (dark theme) */
body.dark-theme .tab .tab-icon {
    filter: url('data:image/svg+xml;,<svg xmlns="http://www.w3.org/2000/svg"><filter id="s"><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 -0.2125 -0.7154 -0.0721 1 0" /><feMorphology operator="dilate" radius="1"/><feComponentTransfer><feFuncA type="gamma" offset="0" amplitude="1" exponent="2"/></feComponentTransfer><feGaussianBlur stdDeviation="0.5"/><feComposite in="SourceGraphic" operator="over"/></filter></svg>#s');
}

/* Change colors of icon border + bg, thumbnail border + bg */
/* color for icon border + transparent icon bg */
#tablist-wrapper:not(.shrinked) #tablist .tab-icon-wrapper,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) {
    background-color: silver;
}

/* color for thumbnail border */
#tablist-wrapper:not(.shrinked) #tablist .tab-meta-image.has-thumbnail,
#tablist-wrapper:not(.shrinked)
    #pinnedtablist:not(.compact)
    .tab-meta-image.has-thumbnail {
    border: 2px solid silver;
}

/* color for thumbnail bg color */
#tablist-wrapper:not(.shrinked) #tablist .tab-meta-image,
#tablist-wrapper:not(.shrinked) #pinnedtablist:not(.compact) .tab-meta-image {
    background-color: #38383d;
}

/* Hide tabs scrollbar */
#tablist-wrapper {
    scrollbar-width: none;
}

/* Autohide scrollbar */
.tab {
    max-width: 100vw;
}
#tablist {
    margin-right: -19px; /* Value from KDE's Breeze theme; adjust as needed */
    transition: margin-right 0s 1s;
}
#tablist:hover {
    margin-right: 0px;
    transition: margin-right 0s 4s;
}
#tablist-wrapper {
    overflow-x: hidden;
}
/* For Firefox 64+, with no animation (hiding of scrollbar can’t be animated with scrollbar-width */
#tablist {
    scrollbar-width: none;
}
#tablist:hover {
    scrollbar-width: auto;
}
/* Thinner scrollbar */
#tablist {
    scrollbar-width: thin;
}

/* Hide Top Menu */
#topmenu {
    display: none;
}

/* Hide New Tab button */
#newtab {
    display: none;
}

/* Sidebar improvements for dark theme */
#sidebar-header {
    background: #0c0c0d;
    border-bottom: none !important;
}
#sidebar-splitter {
    border-right-color: #0c0c0d !important;
    border-left-color: #0c0c0d !important;
}
#sidebar-switcher-target,
#sidebar-close {
    filter: invert(100%);
}
