@import './import/userChrome/dark-thin-context-menu.css';
@import './import/userChrome/more-compact-tabs.css';
@import './import/userChrome/general_toolbar_colors.css';
@import './import/userChrome/aboutconfig_compact_appearance.css';
/* @import './import/userChrome/more-compact-compact.css'; */

/* Add '[pdf]' next to links to PDF files */
a[href$='.pdf']:after {
    font-size: smaller;
    content: ' [pdf]';
}

/* Hide tabs entirely if there's only one */
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
    min-height: 0 !important;
}
#tabbrowser-tabs tab {
    height: var(--tab-min-height);
}
#tabbrowser-tabs tab:first-child:last-child {
    display: none !important;
}

/* Hide tab bar if only one tab */
tab:only-of-type + .toolbarbutton-1 {
    display: none;
    margin-bottom: 0 !important;
}

/* Hide tabs space if there only one tab */
tab[first-visible-tab='true'][last-visible-tab='true'] {
    display: none !important;
    height: 0 !important;
}

#window-controls {
    display: none;
}

/* PRIVATE BROWSING */

window[privatebrowsingmode] .private-browsing-indicator {
    display: none;
}

window[privatebrowsingmode] #urlbar {
    background: #82c8 !important;
}

window[privatebrowsingmode] #identity-icon {
    list-style-image: url(chrome://browser/skin/private-browsing.svg) !important;
}




#appMenu-fxa-container, #appMenu-fxa-container + toolbarseparator {
    display: none !important;
}

/* VARIOUS FIXES */

/* Dim unloaded tabs */
.tabbrowser-tab[pending] {
    opacity: 0.8;
}

/* Fixes a 1px bug after using the global menu */
#toolbar-menubar {
    padding: 0 !important;
}

/* Hide the one pixel top border for tabs */
.tab-background {
    border-top: none !important;
}

/* No blue line on top of the focused tab */
#tabbrowser-tabs {
    --tab-line-color: -moz-win-accentcolor !important;
    --tab-loading-fill: -moz-win-accentcolor !important;
    box-shadow: none !important;
}

/* Don't show the blue border around the url bar when focused */
#urlbar,
.searchbar-textbox {
    font-size: 12pt !important;
    border: none !important;
    box-shadow: none !important;
}

/*  Dark status tooltip */
#statuspanel-label {
    background-color: black !important;
    color: white !important;
}

/* Change color of normal tabs */
tab:not([selected='true']) {
    background-color: #191a21 !important;
    color: #70aaec !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
    background: #282a36 !important;
    color: #70aaec !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
    background: #242424 !important;
    color: #70aaec !important;
}

/* Show tab close button when cursor is over the tab icon */
.tab-close-button {
    -moz-box-ordinal-group: 0;
    display: -moz-box !important;
    position: relative;
    margin-right: -18px !important;
    z-index: -1;
    visibility: hidden;
}

.tabbrowser-tab[pinned] .tab-close-button {
    display: none !important;
}
.tab-close-button:hover {
    background-color: var (--lwt-accent-color);
}

.tabbrowser-tab[selected] .tab-close-button:hover {
    background-color: var(
        --lwt-selected-tab-background-color,
        var(--toolbar-bgcolor)
    );
}

/**** ONLY USE ONE OF THE FOLLOWING ****/
/**** These select the behavior of a scenario where the page has no favicon ****/

/*** Option 1 - no favicon - no close-button ***/

/*
.tab-icon-image:hover ~ .tab-close-button, .tab-close-button:hover { visibility: visible; z-index: 1 }
*/

/*** Option 2 - No icon - always show close-button ***/

/*
.tab-icon-image:hover ~ .tab-close-button,
.tab-close-button:hover,
.tab-icon-image:not([src]) ~ .tab-close-button { visibility: visible; z-index: 1 }
.tab-icon-image:not([src]) ~  .tab-close-button { margin-right:0px !important; }
*/

/*** Option 3 - No icon - show close-button when cursor is over the tab text ***/

.tab-icon-image:hover ~ .tab-close-button,
.tab-throbber:hover ~ .tab-close-button,
.tab-close-button:hover,
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button {
    visibility: visible;
    z-index: 1;
}
.tab-icon-image:not([src]) ~ .tab-label-container:hover ~ .tab-close-button,
.tab-icon-image:not([src]) ~ .tab-close-button:hover {
    margin-right: 0px !important;
}

/* Remove window control buttons */
.titlebar-buttonbox-container {
    display: none;
}

/* Why 100vw? Tab closing requires width animation to end and "none" can't be animated */
.tabbrowser-tab[fadein] {
    max-width: 100vw !important;
}

/* Remove spacer at the end of tabs bar */
.titlebar-spacer {
    display: none;
}

#back-button[disabled='true'] {
    opacity: 0.35;
}

#forward-button[disabled='true'] {
    opacity: 0.35;
}

#stop-button[disabled='true'] {
    opacity: 0.35;
}

#home-button {
    display: none;
}

#throbber-box {
    display: none !important;
}

#pageActionButton {
    display: none !important;
}
